{% extends 'base.html.twig' %}

{% block title %}All posts
{% endblock %}

{% block breadcrumb %}
-> All posts
{% endblock %}

{% block body %}

	<div class='grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4 my-10'>
		{% if posts %}
			{% for post in posts %}
				{% include "micro_post/_post.html.twig" with {post:post}  %}
			{% endfor %}
		{% else %}
			<p class='text-slate-500 dark:text-slate-200'>There's nothing here yet!</p>
		{% endif %}
	</div>

{% endblock %}
