{% extends 'base.html.twig' %}

{% block title %}You are on INDEX
{% endblock %}

{% block body %}
	<div>
		{% if messages %}
			{% for key,message in messages|slice(0,limit) %}
				<div>
					<a href="{{path('app_show_one', {id:key})}}">{{message.value}}</a>
				</div>
				{# <p>{{message.value}}</p> #}
				{% include "hello/_message.html.twig" with {message: message} %}
				{# inherits messages and limit variable - but also message from for loop because it is within a scope #}
			{% endfor %}
		{% else %}
			<p>No messages...</p>
		{% endif %}
	</div>
{% endblock %}
